.title {
    background-color: black;
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-align: center;
    margin: 0 10px;
    padding: 15px;
}

.cities {
    background-color: lightgray;
    color: black;
    padding: 0 0 0 10px;
    margin: auto;
}

.cityName {
    background-color:white;
    border: solid 1px lightgray;
    padding-left: 5px;
    margin-bottom: 5px;
}

.name {
    margin-bottom: 5px;
    background-color: white;
    list-style-type: none;
    padding-left: 5px;
}

.name a {
    display: block;
}

.side1 {
    background-color: lightgray;
    color: black;
    margin: 0 0 10px 0;
}

.searchTitle {
    font-size: large;
}

.searchBtn {
    background-color: lightblue;
}

.input {
    display: inline;
}

#input {
    width: 87%;
    margin-bottom: 5px;
}

ul {
    padding-left: 10px;
}

#uv {
    background-color: red;
}